.comment {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.comment.own {
  align-items: flex-end;
}

.commentTop {
  display: flex;
}

.commentImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.commentText {
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(245, 241, 241);
  color: black;
  max-width: 300px;
}

.commentBottom {
  font-size: 12px;
  margin-top: 10px;
}
